@using NCSafety.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";

    @section NCStyle {
        <link href="~/Content/ncStyle.css" rel="stylesheet" type="text/css">
    }
}
<div class="row">
    <div class="col-xs-2 visible-xs"></div>
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8">
        <section id="loginForm">
            <h1 class="text-center"><img src="~/Images/ncSafetyLogo.png" /></h1>
            <fieldset>
                <legend>Login</legend>
                <div class="text-center">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>
                            <div class="text-left">@Html.LabelFor(m => m.Email, new { @class = "control-label" })</div>
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "txtLogin form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div>
                            <div class="text-left">@Html.LabelFor(m => m.Password, new { @class = "control-label" })</div>
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "txtLogin form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="checkbox center-block">
                                    <p style="text-align:center;">@Html.CheckBoxFor(m => m.RememberMe)@Html.LabelFor(m => m.RememberMe)</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Log in" class="btn ncBtn btnLogin" id="btnLogin" style="width:93%;" />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div>
                                @Html.ActionLink("Register as a new user", "Register")
                            </div>
                        </div>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                    }
                </div>
            </fieldset>
            
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}