@model NCSafety.Models.School

@{
    ViewBag.Title = "Create";
}
@if (!User.IsInRole("SuperAdmin") && User.Identity.IsAuthenticated)
{
    <div style="margin:auto;margin-top:10%;text-align:center">
        <h2>You are not authorized to view this page.</h2>
        <h2 style="margin-bottom:30px">Please log into a higher security account or register.</h2>
        <button class="btn ncBtn" onclick="window.location = '/Account/Login'">Log In</button>
        <button class="btn ncBtn" onclick="window.location='/Account/Register'">Register</button>
    </div>
}
@if (User.IsInRole("SuperAdmin"))
{
<h2>Create</h2>


using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>School</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.schName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.schName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.schName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ascDeanFirst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ascDeanFirst, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ascDeanFirst, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ascDeanLast, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ascDeanLast, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ascDeanLast, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ascDeanEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ascDeanEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ascDeanEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ascDeanAssistantEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ascDeanAssistantEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ascDeanAssistantEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
