@model NCSafety.Models.UploadedPhotos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UploadedPhotos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.itemComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.itemComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MimeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
